h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Muli", sans-serif;
}

body,
div,
ul,
li,
p {
    font-family: "Athiti", sans-serif;
}

#header {
    background-color: rgb(51, 65, 84);
}

h1 {
    color: rgb(74, 170, 165);
}

h2 {
    color: rgb(51, 65, 84);
}

h3 {
    color: rgb(51, 65, 84);
    font-size: 20px;
}

span {
    color: rgb(233, 224, 214);
}

.orange-text {
    color: rgb(74, 170, 165);
    font-size: 20px;
}

.white-text {
    color: rgb(233, 224, 214);
    font-weight: normal;
}

.welcome-message {
    display: block;
    color: rgb(233, 224, 214);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#skills-h3 {
    color: rgb(74, 170, 165);
}

.gray,
.dark-gray {
    background-color: rgb(155, 201, 149);
}

.orange {
    background-color: rgb(51, 65, 84);
}

.work-entry a {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.work-entry p {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.project-entry a {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.project-entry p {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.education-entry a {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.location-text {
    color: rgb(255, 255, 255);
}

#projects {
    background-color: rgb(212, 237, 244);
}

#mapDiv {
    background-color: rgb(212, 237, 244);
}

.date-text {
    color: rgb(0, 0, 0);
}

.center-text {
    color: rgb(74, 170, 165);
}

#lets-connect {
    color: rgb(255, 255, 255);
}
